[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pygame = "*"
pyopengl = "*"
numpy = "*"
pyglut = "*"
pyopengl-accelerate = "*"
opencv-python = "*"

[requires]
python_version = "3.6"
